[user]
	email = adrianlshaw@gmail.com
	name = Adrian L. Shaw
[color]
	ui = auto
	status = auto
	branch = auto
[pull]
   rebase = true


[alias]
	co = checkout
	all = "!f() { ls | xargs -I{} git -C {} $1; }; f"
	tree = log --graph --pretty=format:'%C(auto) %h %ad [%an] %m%m %d %s' --abbrev-commit --all --decorate --date=short
	b = branch
	br = branch
	dif = diff --stat
	s = status
	ad = add
	p = push
	comit = commit
	puhs = push
	psuh = push
	pul = pull
	deploy = push heroku
	undo = reset --soft HEAD~1
[pager]
	branch = false

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
