[user]
	email = adrianlshaw@gmail.com
	name = Adrian L. Shaw
[color]
	ui = auto
	status = auto
	branch = auto
[pull]
   rebase = true


[alias]
	co = checkout
	all = "!f() { ls | xargs -I{} git -C {} $1; }; f"
	tree = log --graph --pretty=format:'%C(auto) %h %ad [%an] %m%m %d %s' --abbrev-commit --all --decorate --date=short
	b = branch
	br = branch
	dif = diff --stat
	s = status
	ad = add
	p = push
	idff = diff
	comit = commit
	puhs = push
	psuh = push
	puhs = push
	pul = pull
	deploy = push heroku
	undo = reset --soft HEAD~1
[pager]
	branch = false

[core]


[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[submodule]
	recurse = true
