[Unit]
Description=Replace Wallpaper

[Service]
Type=simple
ExecStart=/home/user/.bin/replacewallpaper

[Install]
After=network-online.target
Wants=network-online.target
